/*
	Theme Name: Qwik Pik
	Theme URI: http://designnify.com/
	Description: This is my custom theme created Qwik Pik Minimarket.
	Author: Mauricio Alvarez
	Author URI: http://designnify.com/
	Bitbucket Theme URI: Mauricio-Alvarez/qwik-pik

	Version: 1.0

	Tags: black, red, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.2.3

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
	- Screen Reader Text
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Pages
	- Sales Page
- Widgets
	- Featured Content
	- Above Header Widget (Opening Hours)
	- Front Page
	- Front Page Widgets
- Plugins
	- Genesis eNews Extended
	- Jetpack
	- Woocommerce
	- Ninja Forms
	- Simple Google Maps Short Code
- Skip Links
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Accessible Menu
	- Site Header Navigation
	- After Header Navigation
	- Footer Navigation
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
- Footer Widgets
- Site Footer
- Media Queries
	- Max-width: 1340px
	- Max-width: 1200px
	- Max-width: 1023px
	- Max-width: 860px
- Print Styles
*/


@import "partials/variables";


/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */
@import "partials/reset";


/*
Defaults
---------------------------------------------------------------------------------------------------- */
@import "partials/defaults";


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */
@import "partials/structure-layout";


/* # Common Classes
---------------------------------------------------------------------------------------------------- */
@import "partials/common-classes";


/* # Pages
---------------------------------------------------------------------------------------------------- */
@import "partials/pages";


/* # Widgets
---------------------------------------------------------------------------------------------------- */
@import "partials/widgets";
@import "partials/front-page";


/* # Plugins
---------------------------------------------------------------------------------------------------- */
@import "partials/plugins";


/* # Skip Links
---------------------------------------------------------------------------------------------------- */
@import "partials/skip-links";


/* # Site Header
---------------------------------------------------------------------------------------------------- */
@import "partials/site-header";


/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
@import "partials/site-navigation";


/* # Content Area
---------------------------------------------------------------------------------------------------- */
@import "partials/content-area";


/* # Sidebars
---------------------------------------------------------------------------------------------------- */
@import "partials/sidebars";


/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
@import "partials/footer-widgets";


/* # Site Footer
---------------------------------------------------------------------------------------------------- */
@import "partials/site-footer";


/* # Media Queries
---------------------------------------------------------------------------------------------------- */
@import "partials/media-queries";


/* # Print Styles
---------------------------------------------------------------------------------------------------- */
@import "partials/print-styles";