/*
	Theme Name: Qwik Pik
	Theme URI: http://designnify.com/
	Description: This is my custom theme created Qwik Pik Minimarket.
	Author: Mauricio Alvarez
	Author URI: http://designnify.com/
	Bitbucket Theme URI: Mauricio-Alvarez/qwik-pik

	Version: 1.0

	Tags: black, red, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.2.3

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
	- Screen Reader Text
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Pages
	- Sales Page
- Widgets
	- Featured Content
	- Above Header Widget (Opening Hours)
	- Front Page
	- Front Page Widgets
- Plugins
	- Genesis eNews Extended
	- Jetpack
	- Woocommerce
	- Ninja Forms
	- Simple Google Maps Short Code
- Skip Links
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Accessible Menu
	- Site Header Navigation
	- After Header Navigation
	- Footer Navigation
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
- Footer Widgets
- Site Footer
- Media Queries
	- Max-width: 1340px
	- Max-width: 1200px
	- Max-width: 1023px
	- Max-width: 860px
- Print Styles
*/
/*
@font-face {font-family: "Cooper Std Black";
    src: url("//db.onlinewebfonts.com/t/fc2512865b6b3aa1e2cf6049aa2e1958.eot");
    src: url("//db.onlinewebfonts.com/t/fc2512865b6b3aa1e2cf6049aa2e1958.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/fc2512865b6b3aa1e2cf6049aa2e1958.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/fc2512865b6b3aa1e2cf6049aa2e1958.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/fc2512865b6b3aa1e2cf6049aa2e1958.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/fc2512865b6b3aa1e2cf6049aa2e1958.svg#Cooper Std Black") format("svg");
}
*/
/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */
/* ## Baseline Normalize
--------------------------------------------- */
/* normalize.css v4.1.1 | MIT License | http://necolas.github.io/normalize.css/ */
/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
body {
  margin: 0; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
audio, canvas, progress, video {
  display: inline-block; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
progress {
  vertical-align: baseline; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
template, [hidden] {
  display: none; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
a:active, a:hover {
  outline-width: 0; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
b, strong {
  font-weight: inherit; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
b, strong {
  font-weight: bolder; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
dfn {
  font-style: italic; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
mark {
  background-color: #ff0;
  color: #000; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
small {
  font-size: 80%; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
sub {
  bottom: -0.25em; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
sup {
  top: -0.5em; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
img {
  border-style: none; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
figure {
  margin: 1em 40px; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
optgroup {
  font-weight: bold; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
button, input {
  overflow: visible; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
button, select {
  text-transform: none; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
textarea {
  overflow: auto; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* ## Box Sizing
--------------------------------------------- */
/* line 10, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
html,
input[type="search"] {
  box-sizing: border-box; }

/* line 17, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
*,
*:before,
*:after {
  box-sizing: inherit; }

/* ## Float Clearing
--------------------------------------------- */
/* line 27, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
  content: " ";
  display: table; }

/* line 45, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_reset.scss */
.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
  clear: both;
  content: " ";
  display: table; }

/*
Defaults
---------------------------------------------------------------------------------------------------- */
/* ## Typographical Elements
--------------------------------------------- */
/* line 4, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
html {
  font-size: 62.5%;
  /* 10px browser default */ }

/* Chrome fix */
/* line 9, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
body > div {
  font-size: 2rem; }

/* line 13, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
body {
  background-color: #eee;
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.625;
  margin: 0; }

/* line 25, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

/* line 41, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
a {
  color: #005F31;
  text-decoration: underline; }

/* line 46, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
a:hover,
a:focus {
  color: #333;
  text-decoration: none; }

/* line 52, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
p {
  margin: 0 0 28px;
  padding: 0; }

/* line 57, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
ol,
ul {
  margin: 0;
  padding: 0; }

/* line 63, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
li {
  list-style-type: none; }

/* line 67, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
hr {
  border: 0;
  border-collapse: collapse;
  border-top: 1px solid #eee;
  clear: both;
  margin: 1em 0; }

/* line 75, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
b,
strong {
  font-weight: 700; }

/* line 80, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
blockquote,
cite,
em,
i {
  font-style: italic; }

/* line 87, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
blockquote {
  margin: 40px; }

/* line 91, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  font-size: 3rem;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px; }

/* ## Headings
--------------------------------------------- */
/* line 106, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 10px; }

/* line 118, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
h1 {
  font-size: 36px;
  font-size: 3.6rem; }

/* line 123, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
h2 {
  font-size: 30px;
  font-size: 3rem; }

/* line 128, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
h3 {
  font-size: 24px;
  font-size: 2.4rem; }

/* line 133, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
h4 {
  font-size: 20px;
  font-size: 2rem; }

/* line 138, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
h5 {
  font-size: 18px;
  font-size: 1.8rem; }

/* line 143, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
h6 {
  font-size: 16px;
  font-size: 1.6rem; }

/* ## Objects
--------------------------------------------- */
/* line 151, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%; }

/* line 160, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
img {
  height: auto; }

/* line 164, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
figure {
  margin: 0; }

/* ## Gallery
--------------------------------------------- */
/* line 171, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.gallery {
  overflow: hidden; }

/* line 175, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.gallery-item {
  float: left;
  margin: 0 0 28px;
  text-align: center; }

/* line 181, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.gallery-columns-1 .gallery-item {
  width: 100%; }

/* line 185, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.gallery-columns-2 .gallery-item {
  width: 50%; }

/* line 189, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.gallery-columns-3 .gallery-item {
  width: 33%; }

/* line 193, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.gallery-columns-4 .gallery-item {
  width: 25%; }

/* line 197, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.gallery-columns-5 .gallery-item {
  width: 20%; }

/* line 201, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.gallery-columns-6 .gallery-item {
  width: 16.6666%; }

/* line 205, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.gallery-columns-7 .gallery-item {
  width: 14.2857%; }

/* line 209, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.gallery-columns-8 .gallery-item {
  width: 12.5%; }

/* line 213, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.gallery-columns-9 .gallery-item {
  width: 11.1111%; }

/* line 217, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
  clear: left; }

/* line 228, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.gallery img {
  border: 1px solid #eee;
  height: auto;
  padding: 4px; }

/* line 234, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.gallery img:hover,
.gallery img:focus {
  border: 1px solid #999; }

/* ## Forms
--------------------------------------------- */
/* line 242, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 16px;
  width: 100%; }

/* line 255, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
input:focus,
textarea:focus {
  border: 1px solid #999;
  outline: none; }

/* line 261, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto; }

/* line 267, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
::-moz-placeholder {
  color: #333;
  opacity: 1; }

/* line 272, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
::-webkit-input-placeholder {
  color: #333; }

/* line 276, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  background-color: #00984D;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 16px 24px;
  text-decoration: none;
  white-space: normal;
  width: auto; }

/* line 294, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
button:focus,
input:focus[type="button"],
input:focus[type="reset"],
input:focus[type="submit"],
.button:focus {
  background-color: #005F31;
  color: #fff; }

/* line 308, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.entry-content .button:hover,
.entry-content .button:focus {
  color: #fff; }

/* line 313, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.button {
  display: inline-block; }

/* line 317, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
a.button.small,
button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small {
  padding: 8px 16px; }

/* line 325, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
  background-color: #eee;
  border-width: 0;
  color: #777;
  cursor: not-allowed; }

/* line 341, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none; }

/* ## Tables
--------------------------------------------- */
/* line 349, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 40px;
  width: 100%;
  word-break: break-word; }

/* line 358, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
tbody {
  border-bottom: 1px solid #eee; }

/* line 362, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
td,
th {
  text-align: left; }

/* line 367, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
td {
  border-top: 1px solid #eee;
  padding: 6px; }

/* line 372, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
th {
  font-weight: 400;
  padding: 0 6px; }

/* line 377, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
td:first-child,
th:first-child {
  padding-left: 0; }

/* ## Screen Reader Text
--------------------------------------------- */
/* line 385, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden; }

/* line 396, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus {
  clip: auto !important;
  height: auto;
  width: auto;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 23px 14px;
  color: #333;
  background: #fff;
  z-index: 100000;
  /* Above WP toolbar. */
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); }

/* line 414, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_defaults.scss */
.more-link {
  position: relative; }

/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */
/* ## Site Containers
--------------------------------------------- */
/* line 4, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.site-inner,
.wrap {
  margin: 0 auto;
  max-width: 1280px; }

/* line 10, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.site-inner {
  clear: both;
  padding: 40px 0;
  word-wrap: break-word; }

/* line 16, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.landing-page .site-inner {
  max-width: 800px; }

/* ## Column Widths and Positions
--------------------------------------------- */
/* ### Wrapping div for .content and .sidebar-primary */
/* line 25, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  width: 1060px; }

/* line 31, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.content-sidebar-sidebar .content-sidebar-wrap {
  float: left; }

/* line 35, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  float: right; }

/* ### Content */
/* line 42, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.content {
  float: right;
  width: 880px; }

/* line 47, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
  float: left; }

/* line 53, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
  width: 660px; }

/* line 59, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.full-width-content .content {
  width: 100%; }

/* ### Primary Sidebar */
/* line 65, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.sidebar-primary {
  float: right;
  width: 360px; }

/* line 70, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
  float: left; }

/* ### Secondary Sidebar */
/* line 77, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.sidebar-secondary {
  float: left;
  width: 180px; }

/* line 82, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.content-sidebar-sidebar .sidebar-secondary {
  float: right; }

/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */
/* line 90, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 2.564102564102564%; }

/* line 105, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.one-half,
.three-sixths,
.two-fourths {
  width: 48.717948717948715%; }

/* line 111, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.one-third,
.two-sixths {
  width: 31.623931623931625%; }

/* line 116, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.four-sixths,
.two-thirds {
  width: 65.81196581196582%; }

/* line 121, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.one-fourth {
  width: 23.076923076923077%; }

/* line 125, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.three-fourths {
  width: 74.35897435897436%; }

/* line 129, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.one-sixth {
  width: 14.52991452991453%; }

/* line 133, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.five-sixths {
  width: 82.90598290598291%; }

/* line 137, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_structure-layout.scss */
.first {
  clear: both;
  margin-left: 0; }

/* # Common Classes
---------------------------------------------------------------------------------------------------- */
/* ## Avatar
--------------------------------------------- */
/* line 4, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.avatar {
  border-radius: 50%;
  float: left; }

/* line 9, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.author-box .avatar,
.alignleft .avatar {
  margin-right: 24px; }

/* line 14, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.alignright .avatar {
  margin-left: 24px; }

/* line 18, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.comment .avatar {
  margin: 0 16px 24px 0; }

/* ## Genesis
--------------------------------------------- */
/* line 25, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.breadcrumb {
  background-color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1px;
  padding: 12px 30px; }

/* line 33, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.after-entry,
.archive-description,
.author-box {
  background-color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 40px;
  padding: 60px; }

/* line 43, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0; }

/* ## Search Form
--------------------------------------------- */
/* line 51, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.search-form {
  overflow: hidden; }

/* line 55, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.entry-content .search-form,
.site-header .search-form {
  margin-bottom: 40px;
  width: 50%; }

/* line 61, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.site-header .search-form {
  float: right;
  margin: 12px auto 0; }

/* line 66, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.post-password-form input[type="submit"],
.search-form input[type="submit"] {
  margin-top: 10px; }

/* line 71, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px; }

/* ## Titles
--------------------------------------------- */
/* line 85, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.archive-description .entry-title,
.archive-title,
.author-box-title {
  font-size: 20px;
  font-size: 2rem; }

/* line 92, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.entry-title {
  font-size: 36px;
  font-size: 3.6rem; }

/* line 97, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.entry-title a,
.sidebar .widget-title a {
  color: #333;
  text-decoration: none; }

/* line 103, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.entry-title a:hover,
.entry-title a:focus {
  color: #c3251d; }

/* line 108, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.widget-title {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 20px; }

/* ## WordPress
--------------------------------------------- */
/* line 117, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
a.aligncenter img {
  display: block;
  margin: 0 auto; }

/* line 122, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
a.alignnone {
  display: inline-block; }

/* line 126, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.alignleft {
  float: left;
  text-align: left; }

/* line 131, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.alignright {
  float: right;
  text-align: right; }

/* line 136, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%; }

/* line 142, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px; }

/* line 148, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
img.alignnone,
.alignnone {
  margin-bottom: 12px; }

/* line 153, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0; }

/* line 159, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px; }

/* line 165, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.wp-caption-text {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  text-align: center; }

/* line 173, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.entry-content p.wp-caption-text {
  margin-bottom: 0; }

/* line 177, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_common-classes.scss */
.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 28px; }

/* # Pages
---------------------------------------------------------------------------------------------------- */
/* ## Sales Page
--------------------------------------------- */
/* # Widgets
---------------------------------------------------------------------------------------------------- */
/* line 1, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_widgets.scss */
.widget {
  margin-bottom: 40px;
  word-wrap: break-word; }

/* line 6, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_widgets.scss */
.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
  margin-bottom: 0; }

/* line 12, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_widgets.scss */
.widget ul > li {
  margin-bottom: 10px;
  padding-bottom: 10px; }

/* line 17, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_widgets.scss */
.widget ul > li:last-of-type {
  padding-bottom: 0; }

/* line 21, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_widgets.scss */
.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px; }

/* line 28, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_widgets.scss */
.widget li li {
  border: 0;
  margin: 0 0 0 30px;
  padding: 0; }

/* line 34, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_widgets.scss */
.widget_calendar table {
  width: 100%; }

/* line 38, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_widgets.scss */
.widget_calendar td,
.widget_calendar th {
  text-align: center; }

/* ## Featured Content
--------------------------------------------- */
/* line 46, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_widgets.scss */
.featured-content .entry {
  background: none;
  padding: 0; }

/* line 51, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_widgets.scss */
.featured-content .entry:last-of-type {
  margin-bottom: 0; }

/* line 55, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_widgets.scss */
.featured-content .entry-title {
  font-size: 20px;
  font-size: 2rem; }

/* ## Above Header Widget (Opening Hours)
--------------------------------------------- */
/* line 62, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_widgets.scss */
.opening-hours {
  background: #00984D;
  color: #fff;
  font-family: "cooper-black-std", sans-serif;
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 1;
  text-align: center; }
  /* line 71, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_widgets.scss */
  .opening-hours p {
    display: inline-block;
    float: left;
    height: 30px;
    margin: 3px 0 0 0;
    width: 33%; }
  /* line 79, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_widgets.scss */
  .opening-hours .widget {
    margin-bottom: 0; }

/* ## Front Page
--------------------------------------------- */
/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_front-page.scss */
.home .nav-secondary {
  margin-bottom: 260px; }

/* ## Front Page Widgets
--------------------------------------------- */
/* line 13, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_front-page.scss */
.home-top {
  background: #fff;
  text-align: center; }
  /* line 17, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_front-page.scss */
  .home-top .widget-title {
    background: #E3077D;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    font-size: 3rem;
    margin: -30px auto 30px;
    padding: 20px 150px; }

/* line 28, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_front-page.scss */
.home-middle {
  background: #00984D;
  border-bottom: 5px solid #F07D21;
  border-top: 5px solid #F07D21;
  color: #fff;
  padding: 20px 200px 30px;
  text-align: center; }
  /* line 36, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_front-page.scss */
  .home-middle .widget-title {
    font-size: 25px;
    font-size: 2.5rem; }
  /* line 41, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_front-page.scss */
  .home-middle .textwidget {
    text-align: left; }
  /* line 45, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_front-page.scss */
  .home-middle .opening-hours {
    font-family: "Open Sans", sans-serif;
    font-weight: 800; }
  /* line 50, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_front-page.scss */
  .home-middle a {
    color: #ffffff; }

/* line 55, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_front-page.scss */
.home-bottom {
  background: #fff;
  padding: 40px 0 0;
  text-align: center; }
  /* line 60, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_front-page.scss */
  .home-bottom .widget {
    padding: 0 20px;
    width: 50%; }
    /* line 64, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_front-page.scss */
    .home-bottom .widget:first-child {
      float: left; }
    /* line 68, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_front-page.scss */
    .home-bottom .widget:nth-child(2) {
      float: right; }
  /* line 73, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_front-page.scss */
  .home-bottom .widget-title {
    background: #E3077D;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-size: 2rem;
    padding: 5px 10px; }

/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* ## Genesis eNews Extended
--------------------------------------------- */
/* line 4, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.sidebar .enews-widget,
.sidebar .enews-widget .widget-title {
  color: #fff; }

/* line 9, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.sidebar .widget.enews-widget {
  background-color: #333; }

/* line 13, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.sidebar .enews-widget input,
.sidebar .enews-widget input:focus {
  border: 1px solid #333; }

/* line 18, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.sidebar .enews-widget input[type="submit"] {
  background-color: #c3251d;
  color: #fff; }

/* line 23, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.sidebar .enews-widget input:hover[type="submit"],
.sidebar .enews-widget input:focus[type="submit"] {
  background-color: #fff;
  color: #333; }

/* line 29, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.enews-widget input {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 16px; }

/* line 35, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.enews-widget input[type="submit"] {
  margin: 0;
  width: 100%; }

/* line 40, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.enews form + p {
  margin-top: 24px; }

/* ## Jetpack
--------------------------------------------- */
/* line 47, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
#wpstats {
  display: none; }

/* ## Woocommerce
--------------------------------------------- */
/* line 54, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.woocommerce ul.products {
  margin: 0 !important; }

/* line 58, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.woocommerce ul.products li.product {
  margin-bottom: 0 !important; }

/* line 62, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  padding: 10px; }

/* line 68, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.products .product {
  text-align: center; }

/* ## Ninja Forms
--------------------------------------------- */
/* line 76, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.ninja-forms-required-items {
  display: none; }

/* line 82, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.ninja-forms-all-fields-wrap .field-wrap {
  margin-bottom: 10px; }

/* line 86, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.ninja-forms-all-fields-wrap .text-wrap.label-above input {
  padding: 5px; }

/* ## Simple Google Maps Short Code
--------------------------------------------- */
/* line 94, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_plugins.scss */
.pw_map_canvas {
  border: 5px solid #005F31;
  margin-top: 25px; }

/* # Skip Links
---------------------------------------------------------------------------------------------------- */
/* line 1, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_skip-links.scss */
.genesis-skip-link {
  margin: 0; }

/* line 5, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_skip-links.scss */
.genesis-skip-link li {
  height: 0;
  width: 0;
  list-style: none; }

/* Display outline on focus */
/* line 12, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_skip-links.scss */
:focus {
  color: #333;
  outline: #ccc solid 1px; }

/* # Site Header
---------------------------------------------------------------------------------------------------- */
/* line 1, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-header.scss */
.site-header {
  background: #fff;
  border-bottom: 10px solid #F07D21;
  border-top: 10px solid #F07D21;
  margin: 5px 0 5px; }

/* line 9, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-header.scss */
.site-header > .wrap {
  padding: 5px 0; }

/* ## Title Area
--------------------------------------------- */
/* line 16, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-header.scss */
.title-area {
  padding: 10px 0;
  width: 300px; }

/* line 21, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-header.scss */
.header-image .title-area {
  height: 157px;
  margin: 0 auto;
  width: 355px;
  padding: 0; }

/* line 28, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-header.scss */
.header-full-width .title-area {
  float: none;
  width: 100%; }

/* line 33, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-header.scss */
.site-title {
  font-size: 30px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2; }

/* line 40, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-header.scss */
.site-title a,
.site-title a:hover,
.site-title a:focus {
  color: #333;
  text-decoration: none; }

/* line 47, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-header.scss */
.header-image .site-title > a {
  background: url(images/logo.svg) no-repeat left;
  background-position: center !important;
  background-size: contain !important;
  float: left;
  height: 157px;
  width: 100%; }

/* line 56, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-header.scss */
.site-description {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5; }

/* line 63, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-header.scss */
.site-description,
.site-title {
  margin-bottom: 0; }

/* line 68, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-header.scss */
.header-image .site-description,
.header-image .site-title {
  display: block;
  text-indent: -9999px; }

/* ## Widget Area
--------------------------------------------- */
/* line 77, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-header.scss */
.site-header .widget-area {
  float: right;
  text-align: right;
  width: 800px; }

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
/* line 1, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.genesis-nav-menu {
  clear: both;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  width: 100%; }

/* line 10, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.genesis-nav-menu .menu-item {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: left; }

/* line 17, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.genesis-nav-menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 15px; }

/* line 25, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus {
  text-decoration: underline; }

/* line 33, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.genesis-nav-menu .sub-menu,
.nav-primary .sub-menu,
.nav-secondary .sub-menu {
  border-top: 1px solid #eee;
  left: -9999px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  width: 200px;
  z-index: 99; }

/* line 49, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.genesis-nav-menu .sub-menu a {
  background-color: #00984D;
  border-top: 0;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 10px;
  position: relative;
  width: 200px;
  word-wrap: break-word; }

/* line 60, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.genesis-nav-menu .sub-menu .sub-menu {
  margin: -56px 0 0 199px; }

/* line 64, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.genesis-nav-menu .menu-item:hover {
  position: static; }

/* line 68, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1; }

/* line 73, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.genesis-nav-menu > .first > a {
  padding-left: 0; }

/* line 77, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.genesis-nav-menu > .last > a {
  padding-right: 0; }

/* line 81, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.genesis-nav-menu > .right {
  float: right; }

/* ## Accessible Menu
--------------------------------------------- */
/* line 88, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.menu .menu-item:focus {
  position: static; }

/* line 92, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
  left: auto;
  opacity: 1; }

/* line 98, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.sub-menu-toggle,
.menu-toggle {
  display: none;
  visibility: hidden; }

/* ## Site Header Navigation
--------------------------------------------- */
/* line 107, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.site-header .genesis-nav-menu li li {
  margin-left: 0; }

/* ## Primary Navigation
--------------------------------------------- */
/* line 114, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.nav-primary {
  background-color: #00984D;
  font-size: 16px;
  font-size: 1.6rem; }
  /* line 119, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
  .nav-primary a:hover,
  .nav-primary a:focus,
  .nav-primary .current-menu-item > a,
  .nav-primary .sub-menu .current-menu-item > a:hover,
  .nav-primary .sub-menu .current-menu-item > a:focus {
    background: #005F31; }

/* ## Secondary Navigation
--------------------------------------------- */
/* line 131, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.nav-secondary {
  background: #E3077D;
  font-size: 1.2rem;
  font-size: 12px; }
  /* line 136, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
  .nav-secondary a {
    padding: 15px 5px; }
  /* line 140, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
  .nav-secondary a:hover,
  .nav-secondary a:focus,
  .nav-secondary .current-menu-item > a
.sub-menu .current-menu-item > a:hover,
  .nav-secondary .sub-menu .current-menu-item > a:focus {
    background: #9D0035; }
  /* line 148, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
  .nav-secondary .sub-menu a {
    background: #E3077D;
    font-size: 12px;
    font-size: 1.2rem;
    padding: 10px; }
    /* line 154, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
    .nav-secondary .sub-menu a:hover, .nav-secondary .sub-menu a:focus {
      background: #9D0035; }

/* line 161, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.site-footer .genesis-nav-menu {
  padding-bottom: 20px; }

/* line 165, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-navigation.scss */
.site-footer .genesis-nav-menu a {
  padding: 0 20px 10px; }

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Entries
--------------------------------------------- */
/* line 4, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.entry {
  background-color: #fff;
  margin-bottom: 40px;
  padding: 70px 80px; }

/* line 10, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.entry-content ol,
.entry-content ul {
  margin-bottom: 28px;
  margin-left: 40px; }

/* line 16, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.entry-content ol > li {
  list-style-type: decimal; }

/* line 20, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.entry-content ul > li {
  list-style-type: disc; }

/* line 24, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0; }

/* line 29, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.entry-content code {
  background-color: #333;
  color: #eee; }

/* ## Entry Meta
--------------------------------------------- */
/* line 37, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
p.entry-meta {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 0; }

/* line 43, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.entry-header .entry-meta {
  margin-bottom: 24px; }

/* line 47, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.entry-footer .entry-meta {
  border-top: 1px solid #eee;
  padding-top: 24px; }

/* line 52, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.entry-categories,
.entry-tags {
  display: block; }

/* line 57, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px; }

/* ## Pagination
--------------------------------------------- */
/* line 65, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.pagination {
  clear: both;
  margin: 40px 0; }

/* line 70, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.adjacent-entry-pagination {
  margin-bottom: 0; }

/* line 74, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.archive-pagination li {
  display: inline; }

/* line 78, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.archive-pagination a {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 8px 12px;
  text-decoration: none; }

/* line 90, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.archive-pagination a:hover,
.archive-pagination a:focus,
.archive-pagination .active a {
  background-color: #c3251d;
  color: #fff; }

/* ## Comments
--------------------------------------------- */
/* line 100, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.comment-respond,
.entry-comments,
.entry-pings {
  background-color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 40px; }

/* line 109, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.comment-respond,
.entry-pings {
  padding: 60px 60px 32px; }

/* line 114, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.entry-comments {
  padding: 60px; }

/* line 118, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.comment-list li {
  padding: 40px 0 0 30px; }

/* line 122, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.comment-list .depth-1 {
  padding-left: 0; }

/* line 126, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.comment-header {
  margin-bottom: 30px; }

/* line 130, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.comment-content {
  clear: both; }

/* line 134, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.comment-content ul > li {
  list-style-type: disc; }

/* line 138, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%; }

/* line 144, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.comment-respond label {
  display: block;
  margin-right: 12px; }

/* line 149, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.comment-header p {
  margin-bottom: 0; }

/* line 153, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_content-area.scss */
.entry-pings .reply {
  display: none; }

/* # Sidebars
---------------------------------------------------------------------------------------------------- */
/* line 1, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_sidebars.scss */
.sidebar {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 40px; }

/* line 7, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_sidebars.scss */
.sidebar .widget {
  background-color: #fff;
  padding: 40px; }

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
/* line 1, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_footer-widgets.scss */
.footer-widgets {
  background-color: #00984D;
  color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  clear: both;
  padding: 40px 0 20px; }
  /* line 9, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_footer-widgets.scss */
  .footer-widgets .widget-wrap {
    position: relative; }
  /* line 13, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_footer-widgets.scss */
  .footer-widgets .widget-title {
    font-size: 20px;
    font-size: 2rem; }
    /* line 17, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_footer-widgets.scss */
    .footer-widgets .widget-title:after {
      border-bottom: 1px solid #fff;
      content: '';
      width: 50px;
      position: absolute;
      left: 0;
      top: 30px; }
  /* line 27, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_footer-widgets.scss */
  .footer-widgets .pw_map_canvas {
    border: 5px solid #005F31;
    margin-top: 25px; }

/* line 33, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_footer-widgets.scss */
.footer-widgets-1,
.footer-widgets-2 {
  width: 45%; }

/* line 38, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_footer-widgets.scss */
.footer-widgets-1 {
  margin-right: 70px; }

/* line 42, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_footer-widgets.scss */
.footer-widgets-1 {
  float: left; }

/* line 46, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_footer-widgets.scss */
.footer-widgets-2 {
  float: right; }

/* # Site Footer
---------------------------------------------------------------------------------------------------- */
/* line 1, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-footer.scss */
.site-footer {
  background-color: #F07D21;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  padding: 10px 0;
  text-align: center; }

/* line 11, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_site-footer.scss */
.site-footer p {
  margin-bottom: 0; }

/* # Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1340px) {
  /* line 3, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .site-inner,
  .wrap {
    max-width: 1140px; }
  /* line 8, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 920px; }
  /* line 14, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .content,
  .site-header .widget-area {
    width: 800px; }
  /* line 19, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 580px; }
  /* line 25, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .sidebar-primary {
    width: 300px; } }

@media only screen and (max-width: 1200px) {
  /* line 34, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .site-inner,
  .wrap {
    max-width: 960px; }
  /* line 39, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 740px; }
  /* line 45, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .content,
  .site-header .widget-area {
    width: 620px; }
  /* line 50, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 400px; } }

@media only screen and (max-width: 1023px) {
  /* line 60, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .site-inner,
  .wrap {
    max-width: 800px; }
  /* line 65, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .content,
  .content-sidebar-sidebar .content,
  .content-sidebar-sidebar .content-sidebar-wrap,
  .js .genesis-nav-menu .sub-menu a,
  .js .genesis-nav-menu .sub-menu,
  .sidebar-content-sidebar .content,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-primary,
  .sidebar-secondary,
  .sidebar-sidebar-content .content,
  .sidebar-sidebar-content .content-sidebar-wrap,
  .site-header .widget-area,
  .title-area {
    width: 100%; }
  /* line 82, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .footer-widgets .pw_map_canvas {
    margin-top: 0; }
  /* line 87, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .site-header .wrap {
    padding-left: 5%;
    padding-right: 5%; }
  /* line 92, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .genesis-nav-menu li,
  .header-image .title-area,
  .site-header ul.genesis-nav-menu,
  .site-header .search-form {
    float: none; }
  /* line 99, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .genesis-nav-menu,
  .site-description,
  .site-header .title-area,
  .site-header .widget-area,
  .site-title {
    text-align: center; }
  /* line 107, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .site-header .search-form {
    margin: 16px auto; }
  /* line 111, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js nav.nav-primary,
  .js nav.nav-secondary,
  .js .site-header nav {
    display: none;
    position: relative; }
  /* line 118, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js nav.nav-primary,
  .js nav.nav-secondary {
    color: #fff; }
    /* line 122, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
    .js nav.nav-primary .wrap,
    .js nav.nav-secondary .wrap {
      max-width: none;
      padding: 0; }
  /* line 128, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js nav.nav-primary {
    background: #00984D; }
  /* line 132, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js nav.nav-secondary {
    background: #E3077D; }
  /* line 136, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js .site-header nav .wrap {
    padding: 0; }
  /* line 140, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js nav.pagination {
    display: block; }
  /* line 144, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .menu-toggle,
  .sub-menu-toggle {
    border-width: 0;
    background-color: transparent;
    color: #fff;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    visibility: visible; }
  /* line 156, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .sub-menu-toggle:hover,
  .sub-menu-toggle:focus {
    border-width: 0; }
  /* line 161, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .menu-toggle {
    background: #00984D;
    border-top: 1px solid #eee;
    color: #fff;
    line-height: 20px;
    position: relative;
    right: 0;
    z-index: 1000;
    width: 100%; }
  /* line 172, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .site-header .menu-toggle {
    border: 0; }
  /* line 176, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .menu-toggle:before,
  .menu-toggle.activated:before {
    margin-right: 10px;
    text-rendering: auto;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  /* line 185, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .sub-menu-toggle {
    float: right;
    padding: 9px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100; }
  /* line 194, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .sub-menu-toggle:before {
    display: inline-block;
    text-rendering: auto;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  /* line 202, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .sub-menu-toggle.activated:before {
    content: "\f142"; }
  /* line 206, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js .nav-primary .genesis-nav-menu .menu-item,
  .js .nav-secondary .genesis-nav-menu .menu-item,
  .js .site-header .genesis-nav-menu .menu-item {
    display: block;
    float: none;
    margin: 1px 0;
    position: relative;
    text-align: left; }
  /* line 216, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js .genesis-nav-menu .menu-item:hover {
    position: relative; }
  /* line 220, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js .nav-primary .genesis-nav-menu .menu-item a,
  .js .nav-secondary .genesis-nav-menu .menu-item a,
  .js .site-header .genesis-nav-menu .menu-item a {
    border: none;
    padding: 12px 5%;
    text-align: center;
    width: 100%; }
  /* line 229, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js .nav-secondary .genesis-nav-menu .menu-item a:hover {
    background: #9D0035; }
  /* line 233, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js .genesis-nav-menu .sub-menu {
    border: none; }
  /* line 237, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js .genesis-nav-menu .menu-item > a:focus ul.sub-menu,
  .js .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {
    left: 0;
    margin-left: 0; }
  /* line 243, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js .genesis-nav-menu > .menu-item-has-children > a:after {
    content: none; }
  /* line 247, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js .genesis-nav-menu .sub-menu {
    clear: both;
    display: none;
    margin: 0;
    opacity: 1;
    padding-left: 15px;
    padding-right: 15px;
    position: static;
    width: 100%; }
  /* line 258, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js .genesis-nav-menu .sub-menu .sub-menu {
    margin: 0; }
  /* line 262, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js .menu-toggle:hover,
  .js .nav-primary,
  .js .nav-secondary {
    background: #005F31; }
  /* line 268, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js nav button:hover,
  .js nav button:focus {
    background: none; }
  /* line 273, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .js .menu-toggle:focus {
    background-color: #fff;
    color: #005F31; }
  /* line 278, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .qwik-pik-front-page .content-sidebar-wrap {
    margin-top: 180px; }
  /* line 282, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .footer-widgets-1,
  .footer-widgets-2 {
    margin: 0 auto 40px; } }

@media only screen and (max-width: 860px) {
  /* line 291, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  body > div {
    font-size: 1.8rem; }
  /* line 295, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  body {
    font-size: 18px;
    font-size: 1.8rem; }
  /* line 300, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .site-inner {
    padding: 5% 5% 0; }
  /* line 304, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .wrap {
    padding-left: 5%;
    padding-right: 5%; }
  /* line 309, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .after-entry,
  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .entry-pings,
  .sidebar .widget {
    padding: 30px;
    margin-bottom: 5%; }
  /* line 321, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .sidebar {
    margin-bottom: 5%; }
  /* line 325, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .pagination {
    margin: 5% auto; }
  /* line 329, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .archive-pagination li a {
    margin-bottom: 4px; }
  /* line 333, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    margin: 0;
    width: 100%; }
  /* line 348, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .site-header > .wrap {
    padding: 0; }
  /* line 352, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .header-image .title-area {
    width: 280px; }
  /* line 356, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  #mobile-nav-secondary {
    background: #E3077D; }
  /* line 360, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .opening-hours {
    font-size: 15.7px;
    font-size: 1.57rem;
    padding: 5px 0; }
  /* line 367, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .home-top .widget-title {
    font-size: 25px;
    font-size: 2.5rem;
    padding: 20px 15px; }
  /* line 374, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .home-middle {
    padding: 20px 0; }
    /* line 377, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
    .home-middle img {
      width: 100%; }
  /* line 383, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .home-bottom .widget {
    float: none;
    width: 100%; }
  /* line 389, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_media-queries.scss */
  .footer-widgets-1,
  .footer-widgets-2 {
    float: none;
    width: 100%; } }

/* # Print Styles
---------------------------------------------------------------------------------------------------- */
@media print {
  /* line 3, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important; }
  /* line 12, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  a,
  a:visited {
    text-decoration: underline; }
  /* line 17, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }
  /* line 21, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /* line 25, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  a[href^="javascript:"]:after,
  a[href^="#"]:after,
  .site-title > a:after {
    content: ""; }
  /* line 31, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  thead {
    display: table-header-group; }
  /* line 35, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  img,
  tr {
    page-break-inside: avoid; }
  /* line 40, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  img {
    max-width: 100% !important; }
  @page {
    margin: 2cm 0.5cm; }
  /* line 48, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  /* line 55, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /* line 61, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  .content,
  .content-sidebar {
    width: 100%; }
  /* line 66, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  button,
  input,
  select,
  textarea,
  .breadcrumb,
  .comment-edit-link,
  .comment-form,
  .comment-list .reply a,
  .comment-reply-title,
  .edit-link,
  .entry-comments-link,
  .entry-footer,
  .genesis-box,
  .header-widget-area,
  .hidden-print,
  .home-top,
  .nav-primary,
  .nav-secondary,
  .post-edit-link,
  .sidebar {
    display: none !important; }
  /* line 89, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  .title-area {
    text-align: center;
    width: 100%; }
  /* line 94, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  .site-title > a {
    margin: 0;
    text-decoration: none;
    text-indent: 0; }
  /* line 100, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  .site-inner {
    padding-top: 0;
    position: relative;
    top: -100px; }
  /* line 106, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  .author-box {
    margin-bottom: 0; }
  /* line 110, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    orphans: 3;
    page-break-after: avoid;
    page-break-inside: avoid;
    widows: 3; }
  /* line 123, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  img {
    page-break-after: avoid;
    page-break-inside: avoid; }
  /* line 128, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  blockquote,
  pre,
  table {
    page-break-inside: avoid; }
  /* line 134, Users/designnify/Sites/www/qwik-pik.dev/wp-content/themes/qwik-pik/sass/partials/_print-styles.scss */
  dl,
  ol,
  ul {
    page-break-before: avoid; } }
