.footer-widgets {
	background-color: $primary-green;
	color: #fff;
	font-size: 18px;
	font-size: 1.8rem;
	clear: both;
	padding: 40px 0 20px;
	
	.widget-wrap {
		position: relative; //to contain the pseudo after element in the title
	}
	
	.widget-title {
		font-size: 20px;
		font-size: 2rem;
		
		&:after {
			border-bottom: 1px solid #fff;
			content: '';
			width: 50px;
			position: absolute;
			left: 0;
			top: 30px;
		}
	}
	
	.pw_map_canvas {
		border: 5px solid $secondary-green;
		margin-top: 25px;
	}
}

.footer-widgets-1,
.footer-widgets-2 {
	width: 45%;
}

.footer-widgets-1 {
	margin-right: 70px;
}

.footer-widgets-1 {
	float: left;
}

.footer-widgets-2 {
	float: right;
}