/* ## Front Page
--------------------------------------------- */

.home {
	.nav-secondary {
		margin-bottom: 260px;
	}
}

/* ## Front Page Widgets
--------------------------------------------- */

.home-top {
	background: #fff;
	text-align: center;
	
	.widget-title {
		background: $primary-pink;
		color: #fff;
		display: inline-block;
		font-size: 30px;
		font-size: 3rem;
		margin: -30px auto 30px;
		padding: 20px 150px;
	}
}

.home-middle {
	background: $primary-green;
	border-bottom: 5px solid $primary-orange;
	border-top: 5px solid $primary-orange;
	color: #fff;
	padding: 20px 200px 30px;
	text-align: center;
	
	.widget-title {
		font-size: 25px;
		font-size: 2.5rem;
	}
	
	.textwidget {
		text-align: left;
	}
	
	.opening-hours {
		font-family: $font-secondary;
		font-weight: 800;
	}
	
	a {
		color: #ffffff;
	}
}

.home-bottom {
	background: #fff;
	padding: 40px 0 0;
	text-align: center;
	
	.widget {
		padding: 0 20px;
		width: 50%;
		
		&:first-child {
			float: left;
		}
		
		&:nth-child(2) {
			float: right;
		}
	}
	
	.widget-title {
		background: $primary-pink;
		color: #fff;
		display: inline-block;
		font-size: 20px;
		font-size: 2rem;
		padding: 5px 10px;
	}
}