/* ## Genesis eNews Extended
--------------------------------------------- */

.sidebar .enews-widget,
.sidebar .enews-widget .widget-title {
	color: #fff;
}

.sidebar .widget.enews-widget {
	background-color: #333;
}

.sidebar .enews-widget input,
.sidebar .enews-widget input:focus {
	border: 1px solid #333;
}

.sidebar .enews-widget input[type="submit"] {
	background-color: #c3251d;
	color: #fff;
}

.sidebar .enews-widget input:hover[type="submit"],
.sidebar .enews-widget input:focus[type="submit"]  {
	background-color: #fff;
	color: #333;
}

.enews-widget input {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
	margin: 0;
	width: 100%;
}

.enews form + p {
	margin-top: 24px;
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}

/* ## Woocommerce
--------------------------------------------- */

.woocommerce ul.products {
	margin: 0 !important;
}

.woocommerce ul.products li.product {
	margin-bottom: 0 !important;
}

.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
	padding: 10px;
}

.products {
	.product {
		text-align: center;
	}
}

/* ## Ninja Forms
--------------------------------------------- */

.ninja-forms-required-items {
	display: none;
}

.ninja-forms-all-fields-wrap {
	
	.field-wrap {
		margin-bottom: 10px;
	}
	
	.text-wrap.label-above input {
		padding: 5px;
	}
}

/* ## Simple Google Maps Short Code
--------------------------------------------- */

.pw_map_canvas {
	border: 5px solid $secondary-green;
	margin-top: 25px;
}