.site-header {
	background: #fff;
// 	background: rgba(255, 255, 255, .9);
	border-bottom: 10px solid $primary-orange;
	border-top: 10px solid $primary-orange;
	margin: 5px 0 5px;
}

.site-header > .wrap {
	padding: 5px 0;
}

/* ## Title Area
--------------------------------------------- */

.title-area {
	padding: 10px 0;
	width: 300px;
}

.header-image .title-area {
	height: 157px;
	margin: 0 auto;
	width: 355px;
	padding: 0;
}

.header-full-width .title-area {
	float: none;
	width: 100%;
}

.site-title {
	font-size: 30px;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.2;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
	color: #333;
	text-decoration: none;
}

.header-image .site-title > a {
	background: url(images/logo.svg) no-repeat left;
	background-position: center !important;
	background-size: contain !important;
	float: left;
	height: 157px;
	width: 100%;
}

.site-description {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 800px;
}
