.genesis-nav-menu {
	clear: both;
	font-family: $font-secondary;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: left;
}

.genesis-nav-menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 15px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus  {
	text-decoration: underline;
}

.genesis-nav-menu .sub-menu,
.nav-primary .sub-menu,
.nav-secondary .sub-menu {
	border-top: 1px solid #eee;
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: $primary-green;
	border-top: 0;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 10px;
	position: relative;
	width: 200px;
	word-wrap: break-word;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -56px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	float: right;
}

/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

.sub-menu-toggle,
.menu-toggle {
	display: none;
	visibility: hidden;
}

/* ## Site Header Navigation
--------------------------------------------- */

.site-header .genesis-nav-menu li li {
	margin-left: 0;
}

/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
	background-color: $primary-green;
	font-size: 16px;
	font-size: 1.6rem;
	
	a:hover,
	a:focus,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:hover,
	.sub-menu .current-menu-item > a:focus {
		background: $secondary-green;
	}
}

/* ## Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	background: $primary-pink;
	font-size: 1.2rem;
	font-size: 12px;
	
	a {
		padding: 15px 5px;
	}
	
	a:hover,
	a:focus,
	.current-menu-item > a
	.sub-menu .current-menu-item > a:hover,
	.sub-menu .current-menu-item > a:focus {
		background: $secondary-pink;
	}
	
	.sub-menu a {
		background: $primary-pink;
		font-size: 12px;
		font-size: 1.2rem;
		padding: 10px;
		
		&:hover,
		&:focus {
			background: $secondary-pink;
		}
	}
}

.site-footer .genesis-nav-menu {
	padding-bottom: 20px;
}

.site-footer .genesis-nav-menu a {
	padding: 0 20px 10px;
}