//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Import Fonts
/*
@font-face {font-family: "Cooper Std Black";
    src: url("//db.onlinewebfonts.com/t/fc2512865b6b3aa1e2cf6049aa2e1958.eot");
    src: url("//db.onlinewebfonts.com/t/fc2512865b6b3aa1e2cf6049aa2e1958.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/fc2512865b6b3aa1e2cf6049aa2e1958.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/fc2512865b6b3aa1e2cf6049aa2e1958.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/fc2512865b6b3aa1e2cf6049aa2e1958.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/fc2512865b6b3aa1e2cf6049aa2e1958.svg#Cooper Std Black") format("svg");
}
*/

// Colors
$color-site-bg:      #eee;
$color-font:         #333;
$primary-green:      #00984D;
$secondary-green:    #005F31;
$primary-orange: 	 #F07D21;
$primary-pink: 		 #E3077D;
$secondary-pink:   	 #9D0035;

// Fonts
$font-sans:  		'Source Sans Pro', sans-serif;
$font-secondary: 	'Open Sans', sans-serif;
$font-adobe-edge:   'cooper-black-std', sans-serif;