.widget {
	margin-bottom: 40px;
	word-wrap: break-word;
}

.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
	margin-bottom: 0;
}

.widget ul > li {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.widget ul > li:last-of-type {
	padding-bottom: 0;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: 0;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
	background: none;
	padding: 0;
}

.featured-content .entry:last-of-type {
	margin-bottom: 0;
}

.featured-content .entry-title {
	font-size: 20px;
	font-size: 2rem;
}

/* ## Above Header Widget (Opening Hours)
--------------------------------------------- */
.opening-hours {
	background: $primary-green;
	color: #fff;
	font-family: $font-adobe-edge;
	font-size: 25px;
	font-size: 2.5rem;
	line-height: 1;
	text-align: center;
	
	p {
		display: inline-block;
		float: left;
		height: 30px;
		margin: 3px 0 0 0;
		width: 33%;
	}

	.widget {
		margin-bottom: 0;
	}
}